body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
/* navbar */
.navbar {
  background-color: #8cb369;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* profile */
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 50px;
}
.profile button {
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.imgProf {
  width: 250px;
  border-radius: 50%;
  padding: 10px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* input modal */
span {
  margin-top: 4px;
  color: #0a0908;
}

.modal-footer button {
  margin-top: 1rem;
  padding: 10px;
  color: beige;
  background-color: #5e548e;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #90a955;
  transition: 0.3s;
}
/* content */
.card-img {
  width: 56px;
  border-radius: 50%;
  padding: 7px;
}
.textPost {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.post_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media all and (max-width: 838px) {
  .nickName {
    font-size: 18px;
  }
  .name {
    font-size: 20px;
  }
}
@media all and (max-width: 838px) {
  .nickName {
    font-size: 18px;
  }
  .name {
    font-size: 20px;
  }
}
@media all and (max-width: 699px) {
  .nickName {
    font-size: 18px;
  }
  .name {
    font-size: 18px;
  }
  .textInfo {
    font-size: 14px;
  }
  .imgProf {
    width: 200px;
    height: 200px;
  }
}
@media all and (max-width: 467px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgProf {
    width: 200px;
    height: 200px;
  }
}
@media all and (max-width: 400px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgProf {
    width: 200px;
    height: 200px;
  }
}
@media all and (max-width: 359px) {
  .post_list {
    width: 260px;
  }
}
@media all and (max-width: 340px) {
  .post_list {
    width: 300px;
    margin: 0;
  }
  .container {
    padding: 0;
  }
  .card {
    margin: 0px;
  }
}

@media all and (max-width: 329px) {
  .post_list {
    width: 270px;
  }
}
@media all and (max-width: 321px) {
  .post_list {
    width: 270px;
  }
}
